<div class="col-xs-12" >
	<div class="col-xs-12 " >
		<div class="hidden" style="display:inline-block;" >
			<input type="checkbox" 
			parse-int
			ng-change="update_level({sync_relation:levelList[levelIndex].sync_relation})"
			ng-model="levelList[levelIndex].sync_relation"
			ng-true-value="'1'" ng-false-value="'0'"
			/>不使用父標籤篩選
		</div>
		<div class="hidden" style="display:inline-block;" >
			<button
			ng-click="levelList[levelIndex].type=(levelList[levelIndex].type+1) % 2;update_level({type:levelList[levelIndex].type})"
			ng-class="levelList[levelIndex].type==0?'btn-primary':'btn-danger'"
			class="btn"
			
			>{{levelList[levelIndex].type?'標籤與資料':'標籤與標籤'}}</button>
		</div>
	</div>
	<pagnation data="user_config.pageData[levelIndex]" callback="get"></pagnation>
	
	<button
	ng-right-click="del_level()"
	class="btn btn-primary"
	>第{{levelIndex*1+1}}層</button>
	<input 
		type="text"
		ng-model="tag_name"
		placeholder="搜尋資料"
	/>
	
	<button
	ng-show="tagName[tagList[tagIndex].id]"
	class="btn btn-default"
	>{{tagName[tagList[tagIndex].id]}}>></button>
	<button
	ng-show="tag_name && !add_flag"
	ng-click="add();"
	class="btn btn-primary"
	>新增:{{tag_name}}</button>
	
	<button 
	ng-show="tagName[item.id]"
	class="btn"
	ng-class="$parent.selectTagIndex==$index?'btn-danger':'btn-primary'"
	ng-click="$parent.selectTagIndex==$index?$parent.selectTagIndex=undefined:$parent.selectTagIndex=$index;"
	ng-right-click="del($index)"
	ng-repeat="item in list"
	>{{tagName[item.id]}}({{item.count}})</button>
	<tag-relation-count 
	ng-if="levelList[levelIndex+1] "
	level-list="levelList" 
	level-index="levelIndex+1"
	tag-list="list"
	tag-index="selectTagIndex"
	tag-name="tagName"
	search-tag-name-tmp="searchTagNameTmp"
	></tag-relation-count>	
</div>