<div class="col-xs-12">
	<div class="col-xs-12 bottom_line">
		<button 
		draggable="true"
		sortable="cache.tagType.list"
		index="$index"
		ng-click="
		cache.tagType.select==$index?
		cache.tagType.select=undefined
		:
		cache.tagType.select=$index
		"
		ng-class="cache.tagType.select==$index?'btn-danger':'btn-primary'"
		class="btn"	
		ng-right-click="del($index)"
		ng-repeat="item in cache.tagType.list">
		{{item.name}}
		</button>
		<textarea 
		placeholder="標籤種類"
		ng-model="tagType.name" 
		style="vertical-align: middle;"
		ng-enter="add(tagType);"
		></textarea>
	</div>
</div>