<div  class="col-xs-12">	
	<div class="col-xs-12 bottom_line">
		<input 
		type="checkbox" 
		parseInt
		ng-true-value="1" 
		ng-false-value="0"
		ng-model="cache.tagType.list[cache.tagType.select].lock_lv1"
		/>第一層鎖定
		<button 
		ng-repeat="item in cache.levelList"
		ng-right-click="del($index)"
		class="btn btn-primary">
		第{{$index+1}}層
		</button>
		<button 
		ng-if="cache.tagType.list[cache.tagType.select]"
		ng-click="add()"
		class="btn btn-primary"
		>新增階層</button>
	</div>
	<div
		class="col-xs-12 bottom_line" 
		ng-repeat="treeData in cache.treeData"
	>
		<button 
		ng-if="cache.tagType.list[cache.tagType.select].lock_lv1"
		class="btn btn-primary">
		{{cache.tagName[treeData[0].select]}}
		</button>
		
		<tag-relation-count
		ng-if="cache.tagType.list[cache.tagType.select] && cache.levelList.length"
		tree-data="treeData"
		level-list="cache.levelList"
		level-index="cache.tagType.list[cache.tagType.select].lock_lv1?1:0"
		></tag-relation-count>
	</div>			
</div>