<div class="col-xs-12 bottom_line">
	<button 
	ng-click="cache.webList.select==item.id?cache.webList.select=undefined:cache.webList.select=item.id"
	ng-class="cache.webList.select==item.id?'btn-danger':'btn-primary'"
	class="btn"	
	ng-right-click="del($index)"
	ng-repeat="item in cache.webList.list">
	{{item.name}}
	</button>
	<textarea 
	style="vertical-align: middle;"
	ng-model="webList.name" 
	></textarea>
	<button 
	style="vertical-align: middle;" 
	class="btn btn-primary"
	ng-click="add(webList)"
	>新增網站</button>
</div>
<div class="col-xs-12">
	<h1 class="text-center">新增模式</h1>
	<div class="bottom_line">
		tag_name_list:
		<button 
		ng-right-click="tag_name_list.splice($index,1)"
		class="btn btn-primary"
		ng-repeat="item in tag_name_list"
		>{{item}}</button>
		
		<input 
		type="text" 
		ng-init="tag_name_list=['aa','bb','cc'];"
		ng-model="tag_name"
		/>
		
		<button 
		class="btn btn-primary"
		ng-click="tag_name_list.push(tag_name);tag_name=''"
		>新增</button>
	
	</div>
	
	<div class="bottom_line">
		source_id:
		<input 
		type="text" 
		ng-init="source_id=1"
		ng-model="source_id"
		/>
		<button 
		class="btn btn-primary"
		ng-click="add_tag_relation(source_id,tag_name_list)"
		>關聯</button>
	</div>
	<h1 class="text-center">搜尋模式</h1>
	<div class="bottom_line">
	</div>
</div>