<div ng-controller="LevelCtrl" class="col-xs-12">
	<div class="col-xs-12 bottom_line">
		<button 
		ng-click="insert()"
		class="btn btn-primary"
		>新增階層</button>
	</div>
	<div class="col-xs-12 bottom_line" ng-repeat="item in list">
		<div class="col-xs-12" >
			<button 
			ng-click="delete($index)"
			class="btn"
			>刪除本層</button>	
			<input type="checkbox" 
			parse-int 
			ng-true-value="'1'" 
			ng-false-value="'0'"
			ng-model="item.sync_relation"
			ng-change="
			update('TagLevel::update',{sync_relation:item.sync_relation},{id:item.id});
			"
			/>與下層同步
			{{item}}
		</div>
		<tag-relation-count 
		level-list="list" 
		index="$index"
		data="item" 
		tag-name="tagName"
		search-tag-name-tmp="searchTagNameTmp"
		></tag-relation-count>
		
		<tag-relation 
		ng-show="item.sync_relation==0"
		
		level-list="list" 
		index="$index"
		
		data="item" 
		tag-name="tagName"
		search-tag-name-tmp="searchTagNameTmp"
		></tag-relation>
	</div>
</div>