<div ng-controller="ListCtrl" class="col-xs-12">
	<div class="col-xs-12 bottom_line">		
		<textarea 
		placeholder="申請註解"
		ng-model="comment" style="vertical-align: middle;"></textarea>
		<button 
		ng-click="add(comment)"
		class="btn btn-primary">新增標籤列表</button>
	</div>
	<div class="col-xs-12 bottom_line">
		<div class="col-xs-2">id</div>
		<div class="col-xs-2">建立者</div>
		<div class="col-xs-2">名稱</div>
		<div class="col-xs-2">功能</div>
	</div>
	<div class="col-xs-12 bottom_line" ng-repeat="item in list">
		<div class="col-xs-2">{{item.id}}</div>
		<div class="col-xs-2">{{item.uid}}</div>
		<div class="col-xs-2">
			<textarea 
			ng-change="update($index,{name:item.name},{id:item.id})"
			ng-model="item.name" 
			style="vertical-align: middle;"></textarea>
		</div>
		<div class="col-xs-2">
			<button 
			ng-click="del($index)"
			class="btn btn-primary">刪除</button>
		</div>
	</div>

	
</div>