<div
ng-repeat="selectList in $ctrl.selectListCollect"
>
	<tag-recusion
	class="bottom_line"
	style="display:{{$ctrl.mode?'inline-block;':'block'}}"
	ng-if="
	selectList[$ctrl.levelIndex] 
	&&
	selectList.length==$ctrl.levelList.length
	"
	
	edit-mode="$ctrl.editMode"
	count="$ctrl.count"
	relation="$ctrl.relation"
	level-list="$ctrl.levelList"
	tag-name="$ctrl.tagName"
	
	select-list="selectList"
	lock-lv1="$ctrl.lockLv1"
	level-index="$ctrl.levelIndex"
	func="$ctrl.func"
	mode="$ctrl.mode"
	></tag-recusion>
</div>

<div
ng-if="!$ctrl.selectListCollect"
>
	<div 
		style="display:inline-block;" 
		ng-show="$ctrl.lockLv1 && list.length"
	>
		<button
		class="btn btn-sm btn-primary"
		>
		{{$ctrl.tagName[$ctrl.selectList[$ctrl.levelIndex].select]}}
		<!--
		({{$ctrl.count[level_id][$ctrl.selectList[$ctrl.levelIndex].select].count}})
		-->
		</button>
	</div>
	
	<input 
	ng-show="$ctrl.editMode && !$ctrl.lockLv1"
	type="text" 
	ng-model="search.tagName"
	ng-enter="$ctrl.func.add($ctrl.levelIndex,$ctrl.select,search,$ctrl.childIds)"
	/>
	
	<div 
		style="display:inline-block;" 
		ng-show="!$ctrl.lockLv1 && list.length"
	>

		<button
		draggable="true"
		sortable="list"
		index="$index"

		ng-show="
		$ctrl.tagName[item.id].indexOf(search.tagName)!=-1 
		&& 
		!$ctrl.mode
		"
		ng-class="
		$ctrl.selectList[$ctrl.levelIndex].select==item.id?
		'btn-danger':
		'btn-primary'
		"
		ng-click="
		$ctrl.selectList[$ctrl.levelIndex].select==item.id?
		$ctrl.selectList[$ctrl.levelIndex].select=undefined:
		$ctrl.selectList[$ctrl.levelIndex].select=item.id
		"
		ng-right-click="$ctrl.func.del($ctrl.levelIndex,$ctrl.select,item.id)"
		ng-repeat="item in list"
		class="btn btn-sm" 
		>{{$ctrl.tagName[item.id]}}
		<!--
		({{item.count}})
		-->
		</button>
		<select 
		ng-show="$ctrl.mode && list.length"
		ng-options="item.id as $ctrl.tagName[item.id] for item in list"
		ng-model="$ctrl.selectList[$ctrl.levelIndex].select"
		>
		<option value="">無</option>
		</select>
	</div>
	<div class="hidden">
	{{list}}
	</div>
	<div class="hidden">
	{{$ctrl.selectList[$ctrl.levelIndex].select}}
	{{$ctrl.selectList[$ctrl.levelIndex].childIds}}
	</div>
	
	<tag-recusion
	style="display:{{$ctrl.mode?'inline-block;':'block'}}"
	ng-if="
	$ctrl.selectList[$ctrl.levelIndex] && 
	$ctrl.levelList[$ctrl.levelIndex+1] &&
	$ctrl.selectList[$ctrl.levelIndex].childIds &&
	list.length
	&&
	$ctrl.selectList.length==$ctrl.levelList.length
	"
	edit-mode="$ctrl.editMode"
	count="$ctrl.count"
	relation="$ctrl.relation"
	level-list="$ctrl.levelList"
	tag-name="$ctrl.tagName"
	
	
	select-list="$ctrl.selectList"
	
	select="$ctrl.selectList[$ctrl.levelIndex].select"
	
	child-ids="$ctrl.selectList[$ctrl.levelIndex].childIds"
	level-index="$ctrl.levelIndex+1"
	func="$ctrl.func"
	mode="$ctrl.mode"
	></tag-recusion>
</div>








