<div class="col-xs-12 " >	
	<div style="display:inline-block;">
		<button 
		ng-right-click="delete_level(cache.levelList[$ctrl.levelIndex].data.id)"
		class="btn btn-primary">
		第{{$ctrl.levelIndex+1}}層
		</button>
		<input type="text" 
		ng-init="tag.name=''"
		ng-model="tag.name" 
		ng-enter="add(tag.name);tag.name=''"
		/>
		{{cache.levelList[$ctrl.levelIndex].select}}
	</div>
	<div style="display:inline-block;">
		<button
		ng-click="cache.levelList[$ctrl.levelIndex].select==item.id?cache.levelList[$ctrl.levelIndex].select=undefined:cache.levelList[$ctrl.levelIndex].select=item.id"
		ng-right-click="del($index)"
		ng-class="cache.levelList[$ctrl.levelIndex].select==item.id?'btn-danger':'btn-primary'"
		ng-repeat="item in cache.levelList[$ctrl.levelIndex].list"
		class="btn" 
		>{{cache.tag_name[item.id]}}({{item.count}})</button>
	</div>
	
	<tag-relation-count
	ng-if="cache.levelList[$ctrl.levelIndex+1].data"
	level-index="$ctrl.levelIndex+1"
	></tag-relation-count>
</div>